.main {
    height: calc(100vh - 180px);
    width: 100vw;
  }
div.main h2 {
    text-align: center;
    background-color: rgb(245, 235, 235);
    padding: 20px;
    font-size: 35px;
}
.right {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    font-family: "Raleway";
    -webkit-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.75);
box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.75);
  }
button {
    background: #1d0620;
    color: white;
    height: 30px;
    width: 80px;
  }
section.right .input_group {
    height: 50px;
    background: #2f0a33;
    margin-top: 10px;
    border-left: 10px solid #6a1f72;
    padding-right: 10px;
  }
  section.right .input_group label {
    float: left;
    margin: 15px;
    color: white;
    font-weight: 100;
  }
  section.right .input_group input {
    width: 70%;
    height: 35px;
    margin-top: 8px;
    float: right;
    padding-left : 10px;
  }
  section.right button {
    margin-top: 30px;
    width: 150px;
    height: 45px;
    font-size: 18px;
  }
  